select {
    margin-top: 10px;

    border: none;
    border-radius: 5px;
    height: 30px;
    text-align: right;
    color: red;
}

option.black {
    background: black;
}

option.white {
    background: white;
}

option.blue {
    background: blue;
}

option.brown {
    background: brown;
}

option.lightGreen {
    background: lightGreen;
}
option.green {
    background: green;
}

option.orange {
    background: orange;
}

option.pink {
    background: pink;
}

option.purple {
    background: purple;
}

option.red {
    background: red;
}

option.turquoise {
    background: turquoise;
}

option.yellow {
    background: yellow;
}
