html,body {
  height: 100%;
  overflow:  hidden
}

.App {
  position: relative;
  min-height: 100%;
 
}

.main {
  margin-top: 15px;
}

.footer {
  font-family: Snell Roundhand, cursive;
  color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
  height: 40px;
  background: #0F0E1C;
  opacity: 0.2;
  margin: 10px;
}