html,body {
  height: 100%;
  overflow:  hidden
}

.App {
  position: relative;
  min-height: 100%;
 
}



.footer {
  font-family: Snell Roundhand, cursive;
  color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
  height: 20px;
  background: #0F0E1C;
  opacity: 0.3;
  margin: 30px;
}